<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="nlog.txt">
	<targets async="true">
		<!--async设置同步异步   true：异步   false：同步-->
		<target name="file" xsi:type="File"
				layout="${longdate} ${logger} ${message}${exception:format=ToString}"
				fileName="${basedir}/logs/nlog.txt"
				keepFileOpen="true"
				encoding="utf-8" />
		<target xsi:type="Null" name="blackhole" />
		<target xsi:type="Database"
				name="database"
				dbProvider="MySql.Data.MySqlClient.MySqlConnection,MySql.Data"
		        connectionString="server=192.168.1.106;database=platform;user=root;password=root123;port=3305;SslMode=none;">
			<commandText>
				insert into base_log (
				Application, Logged, Level, Message,
				ServerName,Url,RemoteAddress,
				Logger, CallSite, Exception
				) values (
				@Application, @Logged, @Level, @Message,
				@Servername,@Url,@RemoteAddress,
				@Logger, @Callsite, @Exception
				);
			</commandText>
			
			<parameter name="@application" layout="XY.SystemManage.WebApi"/>
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@serverName" layout="${aspnet-request-host}" />
			<parameter name="@url" layout="${aspnet-request-url:IncludeQueryString=true}" />
			<parameter name="@remoteAddress" layout="${aspnet-request-ip}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<!--自定义字段-->
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>